<div>
  <span class="authorImage"> <img src="/images/author.png" alt="Ángel Plaza Rodríguez" height="150" width="150"/></span>
</div>
<div>
  <span class="authorText"> Ángel Plaza Rodríguez </span>
</div>
